<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title</title>

</head>

<body>
<h2>Create Contract</h2>
<p>
  <a href="">
    Back to contract list
  </a>
</p>
<div class="m-4">
  <form [formGroup]="createForm" >
    <div class="mb-3">
      <label class="form-label" for="contractDeposit">Contract Deposit</label>
      <input type="text" class="form-control" formControlName="" id="contractDeposit" placeholder="Contract Deposit" required>
      <div *ngIf="createForm.get('contractDeposit').touched ||createForm.get('contractDeposit').dirty">
        <small class="text-danger" *ngIf="createForm.get('contractDeposit')?.hasError('required')">không được để
          trống!</small>
        <small class="text-danger" *ngIf="createForm.get('contractDeposit')?.hasError('pattern')">Tiền cọc không đúng định dạng!</small>
        <small class="text-danger" *ngIf="createForm.get('contractDeposit')?.hasError('notunder0')">Tiền cọc không được nhỏ hơn 0!</small>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="contractStartDate">Contract Start Date</label>
      <input type="date" class="form-control" id="contractStartDate" placeholder="contract start date" required formControlName="contractStartDate">
      <div *ngIf="createForm.get('contractStartDate')?.touched ||createForm.get('contractStartDate').dirty">
        <small class="text-danger" *ngIf="createForm.get('contractStartDate')?.hasError('required')">Ngày sinh nhật khách hàng không được để
          trống.</small>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="contractEndDate">Contract End Date</label>
      <input type="date" class="form-control" id="contractEndDate" placeholder="contract end date" formControlName="contractEndDate">
      <div *ngIf="createForm.get('contractEndDate')?.touched ||createForm.get('contractEndDate').dirty">
        <small class="text-danger" *ngIf="createForm.get('contractEndDate')?.hasError('required')">Ngày sinh nhật khách hàng không được để
          trống.</small>
        <small class="text-danger" *ngIf="createForm.get('contractEndDate')?.hasError('date1')">Ngayf k dc nhor hon không được để
          trống.</small>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="facility">Facility</label>
      <input type="text" class="form-control" formControlName="facility" id="facility" placeholder="Facility" required>

    </div>
    <div class="mb-3">
      <label class="form-label" for="customer">customer</label>
      <input type="text" class="form-control" formControlName="customer" id="customer" placeholder="customer" required>
    </div>

    <input type="submit" value="Create"/>
  </form>
</div>
</body>
</html>
-->
