<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title</title>

</head>
<body>
<h2>Edit House</h2>
<div class="m-4">
  <form action="" method="post">
    <div class="mb-3">
      <label class="form-label" for="nameService">Name Service</label>
      <input type="text" class="form-control" id="nameService" value="House 1" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputArea">Area Use</label>
      <input type="text" class="form-control" id="inputArea" value="56 m2" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="costForRent">Cost For Rent</label>
      <input type="text" class="form-control" id="costForRent" value="450000 VND" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="maxNumber">Max People</label>
      <input type="text" class="form-control" id="maxNumber" value="5" required>
    </div>
    <label class="form-label" for="maxNumber">Type of hire</label>
    <select class="form-select mb-3" aria-label=".form-select-lg example" value="Year">
      <option value="1">Year</option>
      <option value="2">Month</option>
      <option value="3">Day</option>
    </select>
    <div class="mb-3">
      <label class="form-label" for="standardRoom">Standard Room</label>
      <input type="text" class="form-control" id="standardRoom" value="VIP PRO" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="descriptionOfService">Description of service</label>
      <input type="text" class="form-control" id="descriptionOfService" value="Have a bicycle" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="numberOfFloor">Number Of Floor</label>
      <input type="text" class="form-control" id="numberOfFloor" value="5" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>


</body>
</html>
