<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" formControlName="email">
    <div *ngIf="signUpForm.get('email')?.touched ||signUpForm.get('email').dirty">
      <small class="text-danger" *ngIf="signUpForm.get('email')?.hasError('required')">Email không được để
        trống.</small>
      <small class="text-danger" *ngIf="signUpForm.get('email')?.hasError('email')">Email không đúng định
        dạng</small>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password">
    <div *ngIf="signUpForm.get('password')?.touched ||signUpForm.get('password').dirty">
      <small class="text-danger" *ngIf="signUpForm.get('password')?.hasError('required')">Password không được để
        trống.</small>
      <small class="text-danger" *ngIf="signUpForm.get('password')?.hasError('minlength')">Password phải dài tối thiểu 6 kí
        tự</small>
    </div>
  </div>

</form>
