<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th>Category</th>
    <th>Cập nhật</th>
    <th>Xoa</th>

  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
  </tr>
</table>
