<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title</title>
</head>

<body>
<h2>Edit Customer</h2>
<p>
  <a href="customer/list">
    Back to customer list
  </a>
</p>
<div  style="display: flex; justify-content: center">
  <div style="width: 500px; display: flex; justify-content: center">
    <form [formGroup]="editFrom" (ngSubmit)="updateCustomer(id)" style="width: 100%;" >
      <div class="mb-3">
        <label class="form-label" for="customerName">Name</label>
        <input type="text"   class="form-control " id="customerName" name="customerName" placeholder="Name" formControlName="customerName" >
        <div *ngIf="editFrom.get('customerName').touched ||editFrom.get('customerName').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerName')?.hasError('required')">Tên không được để
            trống.</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="customerCode">Code</label>
        <input type="text" class="form-control" id="customerCode" name="customerCode" placeholder="Code" formControlName="customerCode">
        <div *ngIf="editFrom.get('customerCode')?.touched ||editFrom.get('customerCode').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerCode')?.hasError('required')">Mã khách hàng không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerCode')?.hasError('pattern')">Mã khách hàng không đúng địng dạng</small>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="customerBirthday">BirthDay</label>
        <input type="date" class="form-control" id="customerBirthday" name="customerBirthday"  formControlName="customerBirthday">
        <div *ngIf="editFrom.get('customerBirthday')?.touched ||editFrom.get('customerBirthday').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerBirthday')?.hasError('required')">Ngày sinh nhật khách hàng không được để
            trống.</small>
        </div>
      </div>

      <div>
        <label class="form-label" >Gender</label>
        <select class="form-select mb-3" id="customerGender" name="customerGender" aria-label="form-select-lg example" formControlName="customerGender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
        <div *ngIf="editFrom.get('customerGender')?.touched ||editFrom.get('customerGender').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerGender')?.hasError('required')">Giới tính khách hàng không được để
            trống.</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="customerIdCard">Id Card</label>
        <input type="text" class="form-control" id="customerIdCard" name="customerIdCard" placeholder="ID card" formControlName="customerIdCard">
        <div *ngIf="editFrom.get('customerIdCard')?.touched ||editFrom.get('customerIdCard').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerIdCard')?.hasError('required')">CMND không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerIdCard')?.hasError('pattern')">CMND khách hàng không đúng địng dạng</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="customerPhone">Phone</label>
        <input type="text" class="form-control" id="customerPhone" name="customerPhone" placeholder="Phone" formControlName="customerPhone">
        <div *ngIf="editFrom.get('customerPhone')?.touched ||editFrom.get('customerPhone').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerPhone')?.hasError('required')">SDT không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerPhone')?.hasError('pattern')">SDT khách hàng không đúng địng dạng</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="customerEmail">Email</label>
        <input type="text" class="form-control" id="customerEmail" name="customerEmail" placeholder="Email" formControlName="customerEmail">
        <div *ngIf="editFrom.get('customerEmail')?.touched ||editFrom.get('customerEmail').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerEmail')?.hasError('required')">Email không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerEmail')?.hasError('email')">Email khách hàng không đúng địng dạng</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="customerAddress">Customer Address</label>
        <input type="text" class="form-control" id="customerAddress" name="customerAddress" placeholder="Address" formControlName="customerAddress" >
        <div *ngIf="editFrom.get('customerAddress')?.touched ||editFrom.get('customerAddress').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerAddress')?.hasError('required')">Email không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerAddress')?.hasError('email')">Email khách hàng không đúng địng dạng</small>
        </div>
      </div>

      <div class="md-3">
        <label class="form-label" >Customer Type</label>
        <select formControlName="customerType" [compareWith]="compareFn" class="form-select mb-3" aria-label=".form-select-lg example" >
          <option *ngFor="let cs of customerTypes"
                  [ngValue]="cs">{{cs.nameCustomerType}}</option>
        </select>
        <div *ngIf="editFrom.get('customerType')?.touched ||editFrom.get('customerType').dirty">
          <small class="text-danger" *ngIf="editFrom.get('customerType')?.hasError('required')">Email không được để
            trống.</small>
          <small class="text-danger" *ngIf="editFrom.get('customerType')?.hasError('email')">Email khách hàng không đúng địng dạng</small>
        </div>
      </div>

      <button type="submit" >Submit</button>

    </form>
  </div>
</div>
</body>
</html>
