<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title</title>
</head>

<body>
<h2>Create Customer</h2>
<p>
  <a href=" ">
    Back to land title list
  </a>
</p>
<div  style="display: flex; justify-content: center">
  <div style="width: 500px; display: flex; justify-content: center">
    <form [formGroup]="createForm" (ngSubmit)="create()" style="width: 100%;" >

      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <select class="form-select mb-3" id="category" name="category" aria-label="form-select-lg example" formControlName="category">
          <option *ngFor="let category of categoryList"
                  [ngValue]="category">{{category.nameCategory}}</option>
        </select>
        <div *ngIf="createForm.get('category').touched ||createForm.get('category').dirty">
          <small class="text-danger" *ngIf="createForm.get('category')?.hasError('required')">Không được để
            trống.</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="local">Tỉnh</label>
        <select class="form-select mb-3" id="local" name="local" aria-label="form-select-lg example" formControlName="local">
          <option *ngFor="let local of localList"
                  [ngValue]="local">{{local}}</option>
        </select>
      </div>


      <div class="mb-3">
        <label class="form-label" for="level">Bạn là ai</label>
        <div class="d-flex justify-content-around">
        <div><label for="level">Cá nhân</label>
        <input type="radio"  id="level"  formControlName="level" value="cá nhân"></div>
        <div><label for="level1">Công ty</label>
        <input type="radio"  id="level1"  formControlName="level" value="công ty"></div>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="titleType">Title Type</label>
        <input type="date" class="form-control" id="titleType" name="titleType"  formControlName="titleType">
      </div>

      <div class="mb-3">
        <label class="form-label" for="status">Tình trạng</label>
        <div class="d-flex justify-content-around">
          <div><label for="status">Mới</label>
            <input type="radio"  id="status"  formControlName="status" value="cá nhân"></div>
          <div><label for="status1">Đã sử dụng</label>
            <input type="radio"  id="status1"  formControlName="status" value="công ty"></div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="address" formControlName="address" >
      </div>

      <div class="mb-3">
        <label class="form-label" for="area">Area</label>
        <input type="text" class="form-control" id="area" placeholder="area" formControlName="area">
        <div *ngIf="createForm.get('area')?.touched ||createForm.get('area').dirty">
          <small class="text-danger" *ngIf="createForm.get('area')?.hasError('required')">không được để
            trống.</small>
          <small class="text-danger" *ngIf="createForm.get('area')?.hasError('pattern')">không đúng định dạng</small>
          <small class="text-danger" *ngIf="createForm.get('area')?.hasError('notunder20')">không được dưới 20 m2</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="direction">Direction</label>
        <input type="text" class="form-control" id="direction" name="direction" placeholder="direction" formControlName="direction">
      </div>

      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="title" formControlName="title">
      </div>

      <div class="mb-3">
        <label class="form-label" for="content">Content</label>
        <input type="text" class="form-control" id="content" name="content" placeholder="content" formControlName="content">
      </div>

      <div class="mb-3">
        <label class="form-label" for="area">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="price" formControlName="price">
        <div *ngIf="createForm.get('price')?.touched ||createForm.get('price').dirty">
          <small class="text-danger" *ngIf="createForm.get('price')?.hasError('required')">không được để trống!</small>
          <small class="text-danger" *ngIf="createForm.get('price')?.hasError('pattern')">không đúng định dạng!</small>
          <small class="text-danger" *ngIf="createForm.get('price')?.hasError('notunder100mil')">không được dưới 100 củ khoai lang!</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="priceCheck">can deal?</label>
        <input type="checkbox" id="priceCheck" name="priceCheck" formControlName="priceCheck">
      </div>

      <div class="mb-3">
        <label class="form-label" for="imageUrl">imgeUrl</label>
        <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" formControlName="imageUrl">
      </div>

      <button type="submit" >Submit</button>

    </form>
  </div>
</div>
</body>
</html>
