<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Title</title>

</head>

<body>
<a class="btn btn-primary" href="#" role="button">Link</a>
<h2>Create Villa</h2>
<div class="m-4">
  <form action="" method="post">
    <div class="mb-3">
      <label class="form-label" for="nameService">Name Service</label>
      <input type="text" class="form-control" id="nameService" placeholder="Name Service" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputArea">Area Use</label>
      <input type="text" class="form-control" id="inputArea" placeholder="Area Use" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="costForRent">Cost For Rent</label>
      <input type="text" class="form-control" id="costForRent" placeholder="Cost For Rent" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="maxNumber">Max People</label>
      <input type="text" class="form-control" id="maxNumber" placeholder="Max People" required>
    </div>
    <label class="form-label" for="maxNumber">Type of hire</label>
    <select class="form-select mb-3" aria-label=".form-select-lg example">
      <option value="1">Year</option>
      <option value="2">Month</option>
      <option value="3">Day</option>
    </select>
    <div class="mb-3">
      <label class="form-label" for="standardRoom">Standard Room</label>
      <input type="text" class="form-control" id="standardRoom" placeholder="Standard Room" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="descriptionOfService">Description of service</label>
      <input type="text" class="form-control" id="descriptionOfService" placeholder="Description of service" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="areaPool">Area Pool</label>
      <input type="text" class="form-control" id="areaPool" placeholder="Area Pool" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="numberOfFloor">Number Of Floor</label>
      <input type="text" class="form-control" id="numberOfFloor" placeholder="Number Of Floor" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>



</body>
</html>
