
<body>
<h3>Customer List</h3>
<p>
  <a href="">
    Add new customer
  </a>
<form action="">
  <input type="search" name="keyword">
  <button>Search</button>
</form>


<table id = "object_s">
  <thead>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Customer Code</th>
    <th>Id Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cus of customerList |paginate: { itemsPerPage: 3, currentPage: p ">
    <td>{{cus.customerName}}</td>
    <td>{{cus.customerBirthday}}</td>
    <td>{{cus.customerGender}}?"Nam"</td>
    <td>{{cus.customerCode}}</td>
    <td>{{cus.customerIdCard}}</td>
    <td>{{cus.customerPhone}}</td>
    <td>{{cus.customerEmail}}</td>
    <td>{{cus.customerAddress}}</td>
    <td><a href="" class="btn btn-info">Edit</a></td>
    <td><a href="" class="btn btn-success">Edit</a></td>
    <td><a href="" class="btn btn-info">View</a></td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</body>

