<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

</head>

<body>
<h3>Contract List</h3>
<p>
  <a href="">
    Add new contract
  </a>
<form action="">
  <input type="search" name="keyword">
  <button>Search</button>
</form>


<table id = "object_s">
  <thead>
  <tr>
    <th>Id</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Deposit</th>
    <th>Total Money</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contractList | paginate: { itemsPerPage: 3, currentPage: p }">
    <td>{{contract.contractId}}</td>
    <td>{{contract.contractStartDate}}</td>
    <td>{{contract.contractEndDate}}</td>
    <td>{{contract.contractDeposit}}</td>
    <td>{{contract.contractTotalMoney}}</td>
    <td><a href="" class="btn btn-info">Edit</a></td>
    <td><a href="" class="btn btn-success">Edit</a></td>
    <td><a href="" class="btn btn-info">View</a></td>
  </tr>
  </tbody>
</table>
<div>
  <<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</body>
</html>
-->
