<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

</head>

<body>
<h3>Contract List</h3>
<p>
  <a href="">
    Add new contract
  </a>
<form action="">
  <input type="search" name="keyword">
  <button>Search</button>
</form>


<table id = "object_s">
  <thead>
  <tr>
    <th>Id</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Deposit</th>
    <th>Employee</th>
    <th>Customer</th>
    <th>Service</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>12345</td>
    <td>15-10-1996</td>
    <td>19-10-1996</td>
    <td>500.000 VND</td>
    <td>Đặng Văn C</td>
    <td>Nguyễn Văn A</td>
    <td>House 1</td>
    <td><a href="" class="btn btn-info">Edit</a></td>
    <td><a href="" class="btn btn-success">Edit</a></td>
    <td><a href="" class="btn btn-info">View</a></td>
  </tr>
  </tbody>
</table>
<div>
  <a href="">Previous</a>
  <span>1</span> /
  <span>5</span>
  <a href="">Next</a>
</div>
</body>
</html>
